@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Marck+Script&family=Montserrat&display=swap');

$font-primary:'Dosis', sans-serif; 

$font-heading: 'Marck Script', cursive;

$font-title: 'Montserrat', sans-serif;